export SPEECH_UTILS_CORPORA_LIBRISPEECH_DIR=./corpora/LibriSpeech
export SPEECH_UTILS_CORPORA_LIBRITTS_DIR=./corpora/LibriTTS
export SPEECH_UTILS_CORPORA_VCTK_DIR=./corpora/VCTK
export SPEECH_UTILS_CORPORA_DEMAND_DIR=./corpora/DEMAND
export SPEECH_UTILS_DB_ROOT_DIR=./data/db
